
#div1 {
    width:100px;
    height: 100px;
    background: green;

    }
    #div2 {
        width: 100px;
        height: 100px;
        background: red;

        }
    #div3 {
            width: 100px;
            height: 100px;
            background: blue;
            }
    
.flex-container {
display: flex;
background-color: whitesmoke;
justify-content: space-between;
}

