
nav {
  display:flex; 
  justify-content: space-between;
  width:100%; 
  background-color: whitesmoke;
  flex-wrap: wrap;
}

ul {
    display: flex;
    list-style-type:none;
    padding:0;
  }

  
  li a:hover {
background-color: gray;
  }

li a {
display:block;
color:black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

